<form class = "form-horizontal" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}	
    <div class="fields">
        <div class="field half">
            <label class="control-label" style="color: black" for="username">Username</label>
            <input type="text" name="username" id="username" />
        </div>
        </div>
        <div class="field half">
                <div class="control-group">
            <label class="control-label" style="color: black" for="password">Password</label>
            <input type="password" name="password" id="password" />
        </div>
    </div>
    <ul class="actions">
        <div class="control-group">
            <div class="controls"><br>
                <button type="submit" class="btn">Login</button>		
            </div>
        </div>
    </ul>
</form>

<p><a href="{% url 'signup' %}">signup</a></p>

